# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

#enable query log
[mysqld]
slow_query_log=1
slow_query_log_file=/tmp/slow.log
long_query_time=5
#log_queries_not_using_indexes=1
log_slow_admin_statements=1

# max_allowed_packet is required for big json fields
[mysqld]
max_allowed_packet=16M

[mysql]
max_allowed_packet=16M

#enable load data infile
[mysql]
local-infile=1

[mysqld]
local-infile=1

# kill long running queries
[mysqld]
max_execution_time=3600000
