version: '3.7'

networks:
  backend:
    driver: ${NETWORKS_DRIVER}

volumes:
  mysql-volume:
    name: coding-challenge-mysql
    driver: ${VOLUMES_DRIVER:-local}

services:
  workspace:
    image: coding-challenge/workspace
    build:
      context: .
      dockerfile: ./workspace/Dockerfile
      args:
        - APP_CODE_PATH=${APP_CODE_PATH_CONTAINER:-/var/www/current}
        - APP_GROUP=${APP_GROUP:-www-data}
        - APP_GROUP_ID=${APP_GROUP_ID}
        - APP_USER=${APP_USER:-www-data}
        - APP_USER_ID=${APP_USER_ID}
        - TARGET_PHP_VERSION=${PHP_VERSION:-8.1}
        - TZ=${TIMEZONE}
        - WORKSPACE_SSH_PASSWORD=${WORKSPACE_SSH_PASSWORD}
    volumes:
      - ${APP_CODE_PATH_HOST:-../}:${APP_CODE_PATH_CONTAINER:-/var/www/current}
    ports:
      - "${WORKSPACE_SSH_PORT_HOST:-2222}:22"
    networks:
      - backend
    environment:
      - PHP_IDE_CONFIG=serverName=challenge

  mysql:
    image: mysql:${MYSQL_VERSION:-8.0}
    platform: linux/amd64
    ports:
      - "${MYSQL_PORT_HOST:-33060}:3306"
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE:-coding_challenge}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-root}
      - TZ=${TIMEZONE}
    volumes:
      - mysql-volume:/var/lib/mysql
    networks:
      - backend
